.Backdrop {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  background-color: #1c1c1c;
  transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    height 250ms step-start;

  &.Hidden {
    opacity: 0;
    height: 0;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), step-end;
  }
}
