.NavigationItem {
  box-sizing: border-box;
  opacity: 0;
  width: 100%;
  margin-bottom: 0;

  &.On {
    -webkit-transition: all 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 1;

    &:nth-child(1) {
      -webkit-transition-delay: 70ms;
      -moz-transition-delay: 70ms;
      transition-delay: 70ms;
    }

    &:nth-child(2) {
      -webkit-transition-delay: 120ms;
      -moz-transition-delay: 120ms;
      transition-delay: 120ms;
    }

    &:nth-child(3) {
      -webkit-transition-delay: 170ms;
      -moz-transition-delay: 170ms;
      transition-delay: 170ms;
    }

    &:nth-child(4) {
      -webkit-transition-delay: 220ms;
      -moz-transition-delay: 220ms;
      transition-delay: 220ms;
    }

    &:nth-child(5) {
      -webkit-transition-delay: 270ms;
      -moz-transition-delay: 270ms;
      transition-delay: 270ms;
    }
  }

  a {
    background: transparent;
    vertical-align: baseline;
    font-size: 4.8rem;
    line-height: 1.5em;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;

    transition: color 70ms linear 0ms,
      transform 950ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms,
      opacity 500ms linear 0ms;

    -webkit-transition: color 70ms linear 0ms,
      transform 950ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms,
      opacity 500ms linear 0ms;

    -moz-transition: color 70ms linear 0ms,
      transform 950ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms,
      opacity 500ms linear 0ms;

    &:hover {
      color: #6d6d6d;
    }
  }
}
// @media (min-width: 500px) {
//   .NavigationItem {
//     margin: 0;
//     display: flex;
//     width: auto;
//     align-items: center;
//     height: 100%;

//     link {
//       color: white;
//       height: 100%;
//       padding: 16px 10px;

//       &:hover,
//       &:active,
//       &.active {
//         color: #40a4c8;
//       }
//     }
//   }

//   .NavigationItem link:hover,
//   .NavigationItem link:active,
//   .NavigationItem link.active {
//     background-color: #8f5c2c;
//     color: white;
//   }
// }
