.Header {
  position: absolute;
  top: 65px;
  left: 200px;
  right: 200px;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  transition: all 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  .Label {
    color: #000;
    font-size: 22px;
    line-height: 1.27em;
    margin-right: 20px;
  }

  a,
  div {
    cursor: pointer;
    font-size: 22px;
    line-height: 1.27em;
  }
}

@media (max-width: 767px) {
  .Header {
    left: 25px;
    right: 25px;
    top: 17px;

    .Label {
      font-size: 17px;
      line-height: 1.59em;
    }

    a,
    div {
      font-size: 17px;
      line-height: 1.59em;
    }
  }
}
@media (min-width: 768px) {
  .Header {
    top: 65px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Header {
    left: 70px;
    right: 70px;
  }
}
@media (min-width: 1024px) and (max-width: 1289px) {
  .Header {
    left: 90px;
    right: 90px;
  }
}
@media (min-width: 1290px) and (max-width: 1499px) {
  .Header {
    left: 90px;
    right: 90px;
  }
}
@media (min-width: 1500px) and (max-width: 1859px) {
  .Header {
    left: 120px;
    right: 120px;
  }
}
@media (min-width: 1860px) {
  .Header {
    left: 160px;
    right: 160px;

    .Label {
      font-size: 22px;
      line-height: 1.27em;
    }

    a,
    div {
      font-size: 22px;
      line-height: 1.27em;
    }
  }
}

@media (min-width: 1500px) and (max-width: 1859px) {
  .Label {
    font-size: 22px;
    line-height: 1.27em;
  }

  a,
  div {
    font-size: 22px;
    line-height: 1.27em;
  }
}

@media (min-width: 1290px) and (max-width: 1499px) {
  .Label {
    font-size: 22px;
    line-height: 1.27em;
  }

  a,
  div {
    font-size: 22px;
    line-height: 1.27em;
  }
}

@media (min-width: 1024px) and (max-width: 1289px) {
  .Label {
    font-size: 20px;
    line-height: 1.3em;
  }

  a,
  div {
    font-size: 20px;
    line-height: 1.3em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Label {
    font-size: 20px;
    line-height: 1.3em;
  }

  a,
  div {
    font-size: 20px;
    line-height: 1.3em;
  }
}

//
