.MenuItems {
  z-index: 100;
  // margin-top: 7rem;
  position: absolute;
  right: 0;
  top: 70px;
  width: 48rem;
  visibility: hidden;
  overflow: hidden;
  height: 0;

  &.Shown {
    visibility: visible;
    min-height: 360px;
    position: fixed;
  }
}
