.MenuItems {
  z-index: 100;
  // margin-top: 7rem;
  position: absolute;
  right: 0;
  top: 70px;
  width: 48rem;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);

  &.Shown {
    visibility: visible;
    min-height: 360px;
    position: fixed;
  }
}

.MenuItemsLeft {
  z-index: 100;
  // margin-top: 7rem;
  position: absolute;
  left: 0;
  top: 70px;
  width: 48rem;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);

  &.Shown {
    visibility: visible;
    min-height: 360px;
    position: fixed;
  }
}

@media (max-width: 1023px) {
  .MenuItems,
  .MenuItemsLeft {
    width: 85%;
    height: 0;
    // padding-top: 60px;

    &.Shown {
      visibility: visible;
      min-height: 360px;
    }
  }
}
@media (min-width: 1024px) {
  .MenuItems,
  .MenuItemsLeft {
    width: 48rem;
    height: 0;
    // padding-top: 60px;

    &.Shown {
      visibility: visible;
      min-height: 360px;
    }
  }
}
